/* Password Generator */
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

* {
  box-sizing: border-box;
}

.card-header {
  text-align: 0 auto;
  background-color: #007bff;
  color: white;
  padding-top: 20px;
}

.card {
  margin: auto;
  max-width: 600px;
  margin-top: 60px;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: #939497;
  align-items: center;
  padding: 10px;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
  line-height: 150%;
  min-height: 100vh;
  background-image: url("../images/email-pattern.png");
}

h2 {
  text-align: center;
  padding-top: 10px;
}

.container {
  padding: 20px;
}

.userinput {
  border: none;
}

.container-result {
  width: 100%;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.container-options {
  margin-top: 10px;
  line-height: 15px;
}

.btn-primary {
  display: inline-block;
  border: none;
  display: flex; 
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
  image align: center;
  text-decoration: none;
  display: inline-block;
}

.card-footer {
  background-color: #104682;
  padding: 20px;
}

#generate {
  font-size: 20px;
  padding: 15px;
}